body{
    --color-primary:#009579;
    --color-primary-dark:#01836b;
    --color-secondary:#252c6a;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --border-radius:4px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: linear-gradient(#77639cbf 0%, #d6905bba 100%) ;
    opacity: 40.2;
}
.container{
    width: 500px;
    max-width: 500px;
    margin: 1rem;
    padding: 4rem;
    box-shadow: 0px 0 40px rgba(55, 157, 64, 0.853);
    border-radius: var(--border-radius);
    background-color: white;

}

.container,
.form__input,
.from__button{
    font:500 1.3rem 'Quicksand', sans-serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 10;
}
.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error{
    color:var(--color-error);
}

.form__input--group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 90%;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    border:1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.3s, border-color 0.6s;

}

.form__title{
    text-align: center;
}

.form__input:focus{
    border-color: var(--color-primary);
    background: #ffffff;


}
.form__input--error{
    color:var(--color-error);
    border-color: var(--color-error);
}

.form__input--error-message{
    margin-top: 0.5rem;
    font-size: 0.58;
    color:var(--color-error);
}

.from__button{
    width: 45%;
    padding: 1rem 1.5rem;
    margin-left: 120px ;
    border-radius: 3% var(--border-radius);
    font-weight: bold;
    font-size: 1.1rem;
    color: #d0d0d0;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--color-primary);

 
}

.from__button:hover{
    background: var(--color-primary-dark);
}

.from__button:active{
    transform: scale(0.99);
}
.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}
